<%-include("header") -%>


<div class="container contact-full-page">

    <div class="row">
        <div class="col-lg-12"> <h1 class= "Contact-Page">Contact Us</h1></div>
    </div>
    <div class="row"> 
         <div class="col-lg-4 Contact-Page">
             <p><i class='fas fa-headphones' style='font-size:48px;color:red'></i></p>
          <h4>BY PHONE</h4>  
           
           <P class="new-case"> Toll-Free: 1-877-930-7483</P>
           <P class="new-case"> International:1-604-637-0780</P>

   
         </div>
         <div class="col-lg-4 Contact-Page">
             <p><i class='fas fa-angle-double-down' style='font-size:48px;color:red'></i></p>
             <H4>START A NEW CASE</H4>
             <P class="new-case">Just send us your questions or concerns by starting a new case and we will give you the help you need.</P>
              <a href="/new-case"class="btn start-here"> Start Here</a>
            </div>
         <div class="col-lg-4 Contact-Page">
            <p><i class='fab fa-rocketchat' style='font-size:48px;color:red'></i></p>
             <h4> LIVE CHAT</h4>
           <P class="new-case">Chat with a member of our in-house team.</P>
           <a href="/start-chat" class="btn start-here"> Start Chat</a>
           

        </div>
    </div>



</div>

<%-include("footer") -%>