
.big-text
{
  font-size: 3.5rem;
}
  .logo-img{
  width:50px;

}

#foot
{
  text-align: center;
  background-color:#e8e4e1;
  
  padding:2%;
  
}
.contact-icon{
  margin:10px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  .big-text
  {
    font-size: 1.5rem;
    text-align: center;
  }
  .logo-img{
    width:40px;
  }
}
